.img-asignar{
    width: 60px;
    height: 60px;
}
thead{
    background: #a93957;
    color: #FFFFFF;
} 

.btn-asignar{
    width: 83px;
    height: 65px;
    margin: 0px;
    font-size: 15px;
    font-style: bold;
    background-color:#EB6296;
    color: white; 
}

.oculto{
    display: none;
}

.visible{
    display: block;
}

.btn-tabla{
    padding: 0px;
    width: 24px;
    height: 24px;
    margin: 2px;
}

.divError{
    -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(14, 12, 12, 0.3);
    display: none;
    font-size: 12px;
    margin-top: -60px;
    margin-left: 100px;
    padding: 10px;
    position: absolute;
}