

.oculto{
    display: none;
}

.visible{
    display: block;
}

thead{
    background: #a93957;
    color: #FFFFFF;
} 

/* .modal-body{
    background-color: #FF9BC2;
    color: white;
} */

input:focus, input[type]:focus, select:focus, select[name]:focus {
    border-color: #a93957;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #a93957;
    outline: 0 none;
}

a:focus, a[href]:focus{
    background-color: #FF9BC2;
    color: white;
    border-color: #a93957;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #a93957;
    outline: 0 none;
}

.divError{
    -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(14, 12, 12, 0.3);
    display: none;
    font-size: 12px;
    margin-top: -60px;
    margin-left: 100px;
    padding: 10px;
    position: absolute;
}

.acciones{
    font-size: 18px;
}