.img-asignar{
    width: 60px;
    height: 60px;
}
thead{
    background: #a93957;
    color: #FFFFFF;
} 

.btn-asignar{
    width: 83px;
    height: 65px;
    margin: 0px;
    font-size: 15px;
    font-style: bold;
    background-color:#EB6296;
    color: white; 
}

.oculto{
    display: none;
}

.visible{
    display: block;
}

.btn-tabla{
    padding: 0px;
    width: 24px;
    height: 24px;
    margin: 2px;
}