.btn-barra{
    background-color:#EB6296;
    color: white;
    margin-right: 15px;
    
}
.btn:hover{
    background-color: #FF9BC2;
    color: white;
}
body{
    background: #F8E0F7;
    padding-top:100px;  
    padding-bottom: 70px  
}

footer,.navbar{
    background: #a93957;
    color: #FFFFFF;
    left:0px;
}
footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:40px;
    width:100%;
}
